<div class="my-2">
    <p class="title">New Review</p>
</div>

<%= notice %>

<%= form_with(model: @resena, method: :post, url: course_resenas_path(:course_id => @resena.course_id)) do |form| %>

    <div>
        <%= form.label :Score, class:"label" %>
        <div class="control">    
            <%= form.number_field :calificacion, class:"input" %>
        </div>
    </div>
    <div class="mt-3">
        <%= form.label :Description, class:"label" %>
        <div class="control">    
            <%= form.text_area :contenido, class:"textarea" %>
        </div>
    <div class>
        <%= form.text_field :course_id, value: @resena.course_id, hidden: true %>
    </div>
    <div>
        <%= form.text_field :user_id, value: current_user.id, hidden: true %>
    </div>
    <div class="mt-2">
        <%= form.submit 'Create new review', class:"button" %>
    </div>
    <div>
    <%= link_to 'Go back', course_resenas_path(:course_id => @resena.course_id) %><br>
    </div>
<% end %>
