<h1>Clases#index</h1>
<%= notice %>

<table align='center'>
    <thead>
        <tr>
            <th>Class</th>
            <th>Name</th>
            <th>Link</th>
            <th colspan='3'></th>
        </tr>
    </thead>
    <tbody>
        <% @clases.each do |clase| %>
            <tr>
                <td><%= clase.numero %></td>
                <td><%= clase.nombre %></td>
                <td><%= clase.contenido %></td>
                <td><%= link_to 'View details', clases_show_path(:id => clase.id) %></td>
            </tr>               
        <% end %>
    </tbody>
</table>

<%= link_to 'Upload a new class', clases_new_path %>
