<div class="my-4">
  <h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class:"label"%>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input"%>
    </div>
  </div>

  <div class="field">
    <%= f.label :name, class:"label"%>
    <div class="control">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input"%>
    </div>
  </div>

  <div class="field">
    <%= f.label :last_name, class:"label"%>
    <div class="control">
      <%= f.text_field :last_name , autofocus: true, autocomplete: "last_name", class:"input" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class:"label" %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"label" %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :current_password, class:"label" %> <i>(we need your current password to confirm your changes)</i>
    <div class="control">  
      <%= f.password_field :current_password, autocomplete: "current-password", class:"input" %>
    </div>
  </div>

  <div class="field my-2">
    <%= f.label :image, class:"label"%>
    <div class="file">
      <label class="file-label">
        <%= f.file_field :image, class:"file-input", type:"file", name:"resume"%>
        <span class="file-cta">
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"button is-rounded is-dark" %>
  </div>
<% end %>



<div class="mt-4">
  <p>Unhappy?<div class="mt-2"> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"button is-dark" %></div></p>
</div>

<div class="mt-2">
  <%= link_to "Back", :back %>
</div>
